# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as t f
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df =pd.read_csv(
    Path('./Resources/applicants_data.csv')
)

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
# YOUR CODE HERE
encoded_df

C:\Users\card_.000\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_values=applicant_data_df[list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)]
encoded_df = pd.concat([encoded_df,numerical_values],axis=1)

# Review the Dataframe
# YOUR CODE HERE

encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
# YOUR CODE HERE
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
# YOUR CODE HERE
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58
# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1,input_dim=number_input_features,activation='relu'))

In [20]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2,activation='relu'))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=number_output_neurons,activation='linear'))

In [22]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')

In [41]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
model=nn.fit(X_train_scaled,y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 1.0419 - accuracy: 0.6873
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7977 - accuracy: 0.7194
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8012 - accuracy: 0.7105
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8195 - accuracy: 0.7137
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8281 - accuracy: 0.7159
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8198 - accuracy: 0.7150
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7117 - accuracy: 0.7224
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6757 - accuracy: 0.7092
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7866 - accuracy: 0.7142
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6859 - accuracy: 0.7192
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6621 - accuracy: 0.7269
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7002 - accuracy: 0.7258
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6812 - accuracy: 0.7241
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7052 - accuracy: 0.7246
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.7217
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6706 - accuracy: 0.7251
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6442 - accuracy: 0.7304
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6433 - accuracy: 0.7306
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6712 - accuracy: 0.7282
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6496 - accuracy: 0.7291
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6353 - accuracy: 0.7197
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6232 - accuracy: 0.7269
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6212 - accuracy: 0.7325
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6247 - accuracy: 0.7300
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.7286
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6242 - accuracy: 0.7287
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6267 - accuracy: 0.7273
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6427 - accuracy: 0.7298
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6722 - accuracy: 0.7236
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6553 - accuracy: 0.7273
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6447 - accuracy: 0.7313
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6493 - accuracy: 0.7266
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6365 - accuracy: 0.7325
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6277 - accuracy: 0.7226
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6298 - accuracy: 0.7243
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6085 - accuracy: 0.7300
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6071 - accuracy: 0.7327
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.7330
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6515 - accuracy: 0.7288
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6189 - accuracy: 0.7176
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6037 - accuracy: 0.7241
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5949 - accuracy: 0.7344
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5959 - accuracy: 0.7340
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5940 - accuracy: 0.7352
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6034 - accuracy: 0.7313
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6074 - accuracy: 0.7321
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5973 - accuracy: 0.7327
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5864 - accuracy: 0.7324
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5878 - accuracy: 0.7346
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5904 - accuracy: 0.7358

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6258 - accuracy: 0.7308 - 363ms/epoch - 1ms/step
Loss: 0.6258375644683838, Accuracy: 0.7308454513549805

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path('./Resources/Alphabetsoup1.h5')
# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [24]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [25]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [26]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 8
hidden_nodes_layer2_A1 = 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1,hidden_nodes_layer2_A1

(8, 4)

In [27]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [28]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1,input_dim=number_input_features, activation='relu'))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1,activation='relu'))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=number_output_neurons,activation='linear'))

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 936

 dense_4 (Dense)             (None, 4)                 36

 dense_5 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')

In [30]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train, epochs=50,validation_split=.7)

Epoch 1/50
242/242 [==============================] - 2s 4ms/step - loss: 1.9831 - accuracy: 0.5087 - val_loss: 1.3658 - val_accuracy: 0.5458
Epoch 2/50
242/242 [==============================] - 1s 3ms/step - loss: 1.2621 - accuracy: 0.6234 - val_loss: 1.2708 - val_accuracy: 0.6413
Epoch 3/50
242/242 [==============================] - 1s 3ms/step - loss: 1.2130 - accuracy: 0.6596 - val_loss: 1.2454 - val_accuracy: 0.6522
Epoch 4/50
242/242 [==============================] - 1s 3ms/step - loss: 1.1867 - accuracy: 0.6720 - val_loss: 1.2273 - val_accuracy: 0.6758
Epoch 5/50
242/242 [==============================] - 1s 3ms/step - loss: 1.1762 - accuracy: 0.6815 - val_loss: 1.2221 - val_accuracy: 0.6766
Epoch 6/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0765 - accuracy: 0.6830 - val_loss: 1.0656 - val_accuracy: 0.6860
Epoch 7/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0514 - accuracy: 0.6856 - val_loss: 1.0633 - val_accuracy: 0.6831
Epoch 8/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0401 - accuracy: 0.6895 - val_loss: 1.0623 - val_accuracy: 0.6895
Epoch 9/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0343 - accuracy: 0.6899 - val_loss: 1.0610 - val_accuracy: 0.6883
Epoch 10/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0309 - accuracy: 0.6921 - val_loss: 1.0617 - val_accuracy: 0.6883
Epoch 11/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0282 - accuracy: 0.6912 - val_loss: 1.0480 - val_accuracy: 0.6881
Epoch 12/50
242/242 [==============================] - 1s 3ms/step - loss: 1.0095 - accuracy: 0.6922 - val_loss: 1.0064 - val_accuracy: 0.6876
Epoch 13/50
242/242 [==============================] - 1s 3ms/step - loss: 0.9972 - accuracy: 0.6918 - val_loss: 1.0046 - val_accuracy: 0.6926
Epoch 14/50
242/242 [==============================] - 1s 3ms/step - loss: 0.9956 - accuracy: 0.6943 - val_loss: 1.0058 - val_accuracy: 0.6912
Epoch 15/50
242/242 [==============================] - 1s 3ms/step - loss: 0.9948 - accuracy: 0.6947 - val_loss: 1.0018 - val_accuracy: 0.6920
Epoch 16/50
242/242 [==============================] - 1s 3ms/step - loss: 0.9786 - accuracy: 0.6972 - val_loss: 0.7822 - val_accuracy: 0.6993
Epoch 17/50
242/242 [==============================] - 1s 3ms/step - loss: 0.7194 - accuracy: 0.7068 - val_loss: 0.7321 - val_accuracy: 0.7163
Epoch 18/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6898 - accuracy: 0.7176 - val_loss: 0.7235 - val_accuracy: 0.7154
Epoch 19/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6845 - accuracy: 0.7193 - val_loss: 0.7208 - val_accuracy: 0.7200
Epoch 20/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6852 - accuracy: 0.7200 - val_loss: 0.7252 - val_accuracy: 0.7201
Epoch 21/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6885 - accuracy: 0.7200 - val_loss: 0.7242 - val_accuracy: 0.7209
Epoch 22/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6948 - accuracy: 0.7135 - val_loss: 0.7298 - val_accuracy: 0.7140
Epoch 23/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6826 - accuracy: 0.7184 - val_loss: 0.7254 - val_accuracy: 0.7204
Epoch 24/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6813 - accuracy: 0.7237 - val_loss: 0.7233 - val_accuracy: 0.7223
Epoch 25/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6786 - accuracy: 0.7222 - val_loss: 0.7224 - val_accuracy: 0.7224
Epoch 26/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6776 - accuracy: 0.7231 - val_loss: 0.7221 - val_accuracy: 0.7208
Epoch 27/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6756 - accuracy: 0.7252 - val_loss: 0.7229 - val_accuracy: 0.7212
Epoch 28/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6750 - accuracy: 0.7232 - val_loss: 0.7224 - val_accuracy: 0.7219
Epoch 29/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6750 - accuracy: 0.7249 - val_loss: 0.7238 - val_accuracy: 0.7202
Epoch 30/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6744 - accuracy: 0.7254 - val_loss: 0.7304 - val_accuracy: 0.7224
Epoch 31/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6797 - accuracy: 0.7214 - val_loss: 0.7186 - val_accuracy: 0.7232
Epoch 32/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6774 - accuracy: 0.7233 - val_loss: 0.7234 - val_accuracy: 0.7228
Epoch 33/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6742 - accuracy: 0.7252 - val_loss: 0.7232 - val_accuracy: 0.7225
Epoch 34/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6766 - accuracy: 0.7261 - val_loss: 0.7239 - val_accuracy: 0.7236
Epoch 35/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6728 - accuracy: 0.7262 - val_loss: 0.7225 - val_accuracy: 0.7234
Epoch 36/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6736 - accuracy: 0.7261 - val_loss: 0.7225 - val_accuracy: 0.7242
Epoch 37/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6728 - accuracy: 0.7254 - val_loss: 0.7249 - val_accuracy: 0.7249
Epoch 38/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6789 - accuracy: 0.7255 - val_loss: 0.7242 - val_accuracy: 0.7242
Epoch 39/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6796 - accuracy: 0.7253 - val_loss: 0.7253 - val_accuracy: 0.7244
Epoch 40/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6829 - accuracy: 0.7263 - val_loss: 0.7247 - val_accuracy: 0.7263
Epoch 41/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6799 - accuracy: 0.7271 - val_loss: 0.7252 - val_accuracy: 0.7242
Epoch 42/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6779 - accuracy: 0.7268 - val_loss: 0.7286 - val_accuracy: 0.7251
Epoch 43/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6831 - accuracy: 0.7261 - val_loss: 0.7251 - val_accuracy: 0.7231
Epoch 44/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6882 - accuracy: 0.7275 - val_loss: 0.7425 - val_accuracy: 0.7247
Epoch 45/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6799 - accuracy: 0.7252 - val_loss: 0.7349 - val_accuracy: 0.7241
Epoch 46/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6832 - accuracy: 0.7263 - val_loss: 0.8241 - val_accuracy: 0.6924
Epoch 47/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6923 - accuracy: 0.7209 - val_loss: 0.7242 - val_accuracy: 0.7209
Epoch 48/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6750 - accuracy: 0.7264 - val_loss: 0.7170 - val_accuracy: 0.7247
Epoch 49/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6767 - accuracy: 0.7287 - val_loss: 0.7265 - val_accuracy: 0.7244
Epoch 50/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6756 - accuracy: 0.7277 - val_loss: 0.7186 - val_accuracy: 0.7245

#### Alternative Model 2

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 58
hidden_nodes_layer2_A2 = 20
hidden_nodes_layer3_A2 = 2
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2, hidden_nodes_layer2_A2, hidden_nodes_layer3_A2

(58, 20, 2)

In [34]:
# Create the Sequential model instance
nn_A2 =Sequential()

In [36]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu' ))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation='relu'))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2,activation='relu'))
# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=number_output_neurons_A2, activation='linear'))
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 58)                6786

 dense_7 (Dense)             (None, 20)                1180

 dense_8 (Dense)             (None, 2)                 42

 dense_9 (Dense)             (None, 1)                 3

=================================================================
Total params: 8,011
Trainable params: 8,011
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [38]:
# Fit the model
# YOUR CODE HERE
nn_A2.fit(X_train_scaled,y_train, epochs=50, validation_split=.7)

Epoch 1/50
242/242 [==============================] - 2s 4ms/step - loss: 1.1143 - accuracy: 0.6482 - val_loss: 0.7707 - val_accuracy: 0.6948
Epoch 2/50
242/242 [==============================] - 1s 3ms/step - loss: 0.7358 - accuracy: 0.7010 - val_loss: 0.7001 - val_accuracy: 0.7066
Epoch 3/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6766 - accuracy: 0.7233 - val_loss: 0.6733 - val_accuracy: 0.7185
Epoch 4/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6949 - accuracy: 0.7053 - val_loss: 0.7418 - val_accuracy: 0.6974
Epoch 5/50
242/242 [==============================] - 1s 3ms/step - loss: 0.7073 - accuracy: 0.7065 - val_loss: 0.7134 - val_accuracy: 0.7153
Epoch 6/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6707 - accuracy: 0.7084 - val_loss: 0.6549 - val_accuracy: 0.7031
Epoch 7/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6195 - accuracy: 0.7182 - val_loss: 0.6486 - val_accuracy: 0.7249
Epoch 8/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6196 - accuracy: 0.7106 - val_loss: 0.6584 - val_accuracy: 0.7190
Epoch 9/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6185 - accuracy: 0.7136 - val_loss: 0.6496 - val_accuracy: 0.7164
Epoch 10/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6077 - accuracy: 0.7226 - val_loss: 0.6525 - val_accuracy: 0.7222
Epoch 11/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6066 - accuracy: 0.7236 - val_loss: 0.6410 - val_accuracy: 0.7177
Epoch 12/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6054 - accuracy: 0.7233 - val_loss: 0.6559 - val_accuracy: 0.6884
Epoch 13/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6088 - accuracy: 0.7183 - val_loss: 0.6410 - val_accuracy: 0.7204
Epoch 14/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5863 - accuracy: 0.7236 - val_loss: 0.6346 - val_accuracy: 0.7218
Epoch 15/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5838 - accuracy: 0.7249 - val_loss: 0.6433 - val_accuracy: 0.7239
Epoch 16/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5952 - accuracy: 0.7279 - val_loss: 0.6471 - val_accuracy: 0.7229
Epoch 17/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6040 - accuracy: 0.7288 - val_loss: 0.6360 - val_accuracy: 0.7223
Epoch 18/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5884 - accuracy: 0.7279 - val_loss: 0.6367 - val_accuracy: 0.7206
Epoch 19/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5842 - accuracy: 0.7237 - val_loss: 0.6270 - val_accuracy: 0.7176
Epoch 20/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5851 - accuracy: 0.7294 - val_loss: 0.6449 - val_accuracy: 0.7221
Epoch 21/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5954 - accuracy: 0.7316 - val_loss: 0.6300 - val_accuracy: 0.7230
Epoch 22/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5874 - accuracy: 0.7321 - val_loss: 0.6390 - val_accuracy: 0.7259
Epoch 23/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5873 - accuracy: 0.7324 - val_loss: 0.6397 - val_accuracy: 0.7249
Epoch 24/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5846 - accuracy: 0.7298 - val_loss: 0.6284 - val_accuracy: 0.7271
Epoch 25/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5933 - accuracy: 0.7231 - val_loss: 0.6290 - val_accuracy: 0.7074
Epoch 26/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5903 - accuracy: 0.7259 - val_loss: 0.6191 - val_accuracy: 0.7280
Epoch 27/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6042 - accuracy: 0.7161 - val_loss: 0.6476 - val_accuracy: 0.7088
Epoch 28/50
242/242 [==============================] - 1s 3ms/step - loss: 0.6045 - accuracy: 0.7241 - val_loss: 0.6372 - val_accuracy: 0.7205
Epoch 29/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5957 - accuracy: 0.7302 - val_loss: 0.6359 - val_accuracy: 0.7218
Epoch 30/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5926 - accuracy: 0.7305 - val_loss: 0.6396 - val_accuracy: 0.7274
Epoch 31/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5908 - accuracy: 0.7364 - val_loss: 0.6362 - val_accuracy: 0.7304
Epoch 32/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5903 - accuracy: 0.7329 - val_loss: 0.6339 - val_accuracy: 0.7276
Epoch 33/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5943 - accuracy: 0.7338 - val_loss: 0.6267 - val_accuracy: 0.7293
Epoch 34/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5882 - accuracy: 0.7371 - val_loss: 0.6350 - val_accuracy: 0.7287
Epoch 35/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5839 - accuracy: 0.7294 - val_loss: 0.5985 - val_accuracy: 0.7171
Epoch 36/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5614 - accuracy: 0.7297 - val_loss: 0.6102 - val_accuracy: 0.7268
Epoch 37/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5584 - accuracy: 0.7360 - val_loss: 0.6227 - val_accuracy: 0.7263
Epoch 38/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5629 - accuracy: 0.7276 - val_loss: 0.6081 - val_accuracy: 0.7267
Epoch 39/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5572 - accuracy: 0.7332 - val_loss: 0.5998 - val_accuracy: 0.7274
Epoch 40/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5536 - accuracy: 0.7358 - val_loss: 0.6092 - val_accuracy: 0.7298
Epoch 41/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5533 - accuracy: 0.7367 - val_loss: 0.6034 - val_accuracy: 0.7294
Epoch 42/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5494 - accuracy: 0.7364 - val_loss: 0.6039 - val_accuracy: 0.7269
Epoch 43/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5475 - accuracy: 0.7360 - val_loss: 0.6020 - val_accuracy: 0.7268
Epoch 44/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5479 - accuracy: 0.7347 - val_loss: 0.6104 - val_accuracy: 0.7203
Epoch 45/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5477 - accuracy: 0.7354 - val_loss: 0.6053 - val_accuracy: 0.7284
Epoch 46/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5569 - accuracy: 0.7362 - val_loss: 0.6133 - val_accuracy: 0.7082
Epoch 47/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5633 - accuracy: 0.7233 - val_loss: 0.6201 - val_accuracy: 0.7273
Epoch 48/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5585 - accuracy: 0.7337 - val_loss: 0.6110 - val_accuracy: 0.7117
Epoch 49/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5549 - accuracy: 0.7318 - val_loss: 0.6004 - val_accuracy: 0.7306
Epoch 50/50
242/242 [==============================] - 1s 3ms/step - loss: 0.5474 - accuracy: 0.7364 - val_loss: 0.6039 - val_accuracy: 0.7270

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [44]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6124 - accuracy: 0.7290 - 351ms/epoch - 1ms/step
Loss: 0.6123778820037842, Accuracy: 0.7289795875549316

In [31]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7247 - accuracy: 0.7200 - 209ms/epoch - 780us/step
Loss: 0.7246732711791992, Accuracy: 0.7200000286102295

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6032 - accuracy: 0.7234 - 248ms/epoch - 925us/step
Loss: 0.6031562089920044, Accuracy: 0.7233819365501404

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path =Path('./Resources/alphabetsoupA1.h5')
# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = Path('./Resources/alphabetsoupA2.h5')

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)